@import "lib/vars";
@import "lib/reboot";
@import "lib/keyframes";
@import "lib/fontface";
@import "lib/colors";
@import "lib/typo";
@import "lib/utils";

html,
body {
  background-color: #eee;
}

/*
 * Estilos para el layout general
 *
 * Si quieres aprender más sobre SCSS: 
 * https://www.youtube.com/playlist?list=PLn4HfBF-ETRsrE-AUpp2c4LpoNsK15X0d
 * y en 45 minutos eres experto/a en SCSS
 *
 */
// La maquetación más general te la damos hecha para que no sea un ejercicio muy largo
// Recuerda que puedes cambiar lo que quieras.
// hemos puesto algunas pistas en el código que te pueden ayudar...
// Mucha suerte!!

.layout {
  height: 100vh;
  width: 100vw;
  max-width: 500px;
  overflow: auto;
  background-color: #fff;
  box-shadow: 0 0 86px rgba(0, 0, 0, 0.15);
  

  &.home {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    grid-template-columns: 100%;

    header {
      grid-area: 1 / 1 / span 1 / -1;
    }

    main {
      grid-area: 2 / 1 / span 1 / -1;
    }

    .play_navigation {
      grid-area: 3 / 1 / span 1 / -1;
    }

    .secondary_navigation {
      grid-area: 4 / 1 / span 1 / -1;
    }
  }

  &.single_page {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;

    header {
      grid-area: 1 / 1 / span 1 / -1;
    }

    main {
      grid-area: 2 / 1 / span 1 / -1;
    }

    footer {
      grid-area: 3 / 1 / span 1 / -1;
    }
  }

  &.game {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 100%;

    .ui {
      grid-area: 1 / 1 / span 1 / -1;
    }

    .game_container {
      grid-area: 2 / 1 / span 1 / -1;
    }

    .modal_window {
      grid-area: 1 / 1 / -1 / -1;
    }
  }

  @media screen and (min-width: 500px) {
    border-radius: 10px;
    overflow: hidden;
    margin: 2rem auto;
    height: calc(100vh - 4rem);
  }

  @media screen and (max-width: 390px) {
    .layout {
      max-width: 100%; // Ajusta el ancho máximo a 100% para móviles
      height: 100vh; // Asegúrate de que el contenedor ocupe toda la altura de la pantalla
      overflow: hidden; // Evita el desplazamiento
      padding: 0;
      box-sizing: border-box;
      position: fixed;
      top: 0; // Asegura que el contenedor se alinee al top de la pantalla
      left: 0; // Asegura que el contenedor se alinee al left de la pantalla
      display: flex;
      flex-direction: column;
      justify-content: flex-start; // Alinea el contenido al principio del contenedor
    }

    &.home,
    &.single_page,
    &.game {
      display: flex;
      flex-direction: column;
      height: 100vh; /* Ajusta la altura a la ventana gráfica */
      
      
    }

    .ui {
      height: 50px; /* Ajusta la altura para pantallas pequeñas */
      overflow: hidden;

    }

    .game_container {
      height: calc(100vh - 26%); /* Ajusta según la altura de .ui */
      overflow: hidden;

    }
  }
}

/*
 *
 * Estilos para la página home
 *
 */
.home {
  padding: 1.5rem 0;

  header {
    margin-bottom: 2rem;
    justify-content: space-evenly;

    h1 {
      text-align: center;

    }

    h2 {
      text-align: center;
    }

    .secondary_navigation {
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      flex-direction: row;
      justify-content: center;
      margin-top: 1rem;
    }
  }

  main {
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;

    .slider {
      margin: 2rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .play_navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 3rem;
  }
}

/*
 *
 * Estilos para la página highscores
 *
 */
.single_page {
  padding: 1.5rem;
  header {
    h2 {
      display: flex;
      justify-content: center;
      letter-spacing: 2px;

      .icon {
        margin-right: 0.5rem;
        color: #777;
      }

      .label {
        color: #2e2e2e;
      }
    }
  }

  main {
    background-color: white;
    padding: 0rem 1rem;
    section {
      h3 {
        margin-bottom: 0.5rem;
        color: #2e2e2e;
      }

      .big_scores {
        position: relative; // swiper lo va a necesitar... ;)

        .big_score {
          font-size: 3rem;
          line-height: 4rem;
          text-align: center;
          font-weight: bold;
          color: #4a90e2;
          padding: 0.5rem 0;
        }
      }

      .swiper-pagination-bullet-active {
        // swiper lo va a necesitar... ;)
        background-color: rgb(192, 60, 126);
      }

      .leaderboard_items {
        
        .leaderboard_item {
          // opacity: 0; // animejs lo va a necesitar
          color: #464646;
          display: flex;
          padding: 0.5rem 0;
          opacity: 0;

          .number {
            margin-left: 5rem;
          }

          .date {
            margin-left: 1rem;
          }

          .score {
            margin-left: 7rem;
          }

          &:first-child {
            color: #7ed321;
            font-weight: bold;
          }
        }
      }
    }
  }

  footer {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
  }
}

/*
 * Estilos para la página de ajustes
 */
.single_page {
  padding: 3rem 0;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 2rem;

  h2 {
    font-size: 2rem;
    letter-spacing: 1px;
    color: #333;
  }
}

main {
  background-color: #eee;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;

  .settings_img {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .settings-section {
    background-color: #fff;
    border-radius: 8px;
    padding: 1.5rem;

    .setting-item {
      margin-bottom: 1rem;
      font-size: 1rem;
      color: #555;

      label {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        flex-direction: row-reverse;

        input[type="checkbox"] {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

/*
 * Botones
 */
.btn {
  padding: 0.75rem 2rem 0.5rem;
  display: inline-flex;
  align-items: center;
  text-align: center;
  background: transparent;
  border: 1px solid #999;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #777;
  box-shadow: 0 0 0 0 rgba(192, 60, 126, 0.3);
  transition: all 300ms ease;
  &:hover,
  &:visited,
  &:link {
    color: inherit;
  }

  &:focus {
    outline: 0;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 0 3px rgba(151, 151, 151, 0.3);
  }

  &.btn_primary {
    border: 1px solid #4a90e2;
    background: #4a90e2;
    color: white;
    &:hover,
    &:focus {
      box-shadow: 0 0 0 3px #376daa;
      border: 1px solid #417fc7;
      background: #417fc7;
    }
  }

  &.btn_link {
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
    color: #525252;
  }
}

.secondary_navigation {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  justify-content: left;
  margin-right: 3rem;
  letter-spacing: 2px;

  .secondary_navigation_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: inherit;

    justify-content: left;

    .icon {
      display: flex;
      align-items: center;
      justify-content: right;
      width: 50px;
      height: 50px;
      color: #4a4a4a;
      margin-right: 0.2rem;

      &:hover {
        font-weight: bold;
        transition: all 300ms ease;
        font-size: larger;
      }
    }

    .label {
      font-size: 0.9rem;

      &:hover {
        font-weight: bold;
        transition: all 300ms ease;
        font-size: 1rem;
      }
    }
  }
}

.game {
  .ui {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;

    .lifes {
      color: #4a90e2;
      margin-left: 1.5rem;
    }
    .score {
      color: #7ed321;
      .amount {
      }

      .icon {
      }
    }

    .pause {
    }
  }

  .game_container {
    .game_holder {
      // te va a ayudar a que funcione el juego ok...
      position: relative;
      height: 100%;
    }
  }

  .modal_window {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.6);
    }

    .holder {
      position: relative;
      width: 90%;
      z-index: 3;
      background-color: #fff;

      .message {
        padding: 1rem 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        color: #464646;
        max-width: 300ch;
      }

      .cta {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;

        .btn {
          justify-content: center;
        }
      }
    }

    &.opened {
      visibility: visible;
      opacity: 1;
    }
  }

  @media screen and (max-width: 500px) {
    .modal_window {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes startAnimation {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    transition: transform 0.3s ease, fill 0.3s ease;
    cursor: pointer;
    animation: startAnimation 1s ease;

    &:hover {
     
      animation: shake 0.5s ease;
    }

    circle,
    path,
    line,
    ellipse {
      transition: stroke 0.3s ease, fill 0.3s ease;
    }
  }
}
